{% extends 'base.html'%}

{% block title %}
EAD List
{% endblock title %}


{%block content%}
<div class="container">
    <h4>Examinations Administrators List</h4>
<div class="card card-body">
    
    <table class="table table-sm" id="eadTable">
    <thead>
        {#<caption>List of EADs</caption>#}
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Lask Name</th>
            <th>User Name</th>
            <th>Detail</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
       {%for EAD in EADs%}
        <tr>
            <td>{{EAD.id}}</td>
            <td>{{EAD.first_name}}</td>
            <td>{{EAD.last_name}}</td>
            <td>{{EAD.username}}</td>
       
            <td><a href="{%url 'ead-details' EAD.id%}">Details</a></td>
            <td><a href="{%url 'ead-delete' EAD.id%}">Delete</a></td>
            <td><a href="{%url 'update-ead' EAD.id%}">Update</a></td>
           

        </tr>
        {%empty%}
        <h3>No Data to display</h3>
        {%endfor%}
    </tbody>
    </table>
</div>
    </div>

{%endblock%}

{% block script %}
<script>
    $(document).ready(function(){
        $("#eadTable").dataTable({

        })
    });
</script>
{% endblock script %}

