{%extends 'index.html' %}

{%block content%}
<h2>Examiner Creation Form</h2>
<div class="card">
    <div class="card-body">
        <form method="POST" action="" >
            {% csrf_token %}

            {{field.errors}}
        <div class="row">
            <div class="form-group col-md-4">
                <label for="inputText">First Name</label>
             {{form.first_name}}
               <!-- <input type="text" class="form-control" id="id_name" name="name"  placeholder="First Name" > -->
            </div>
        
            <div class="form-group col-md-4">
                <label for="inputText">Middle Name</label>
                    {{form.middle_name}}
               <!-- <input type="text" class="form-control" id="name"  placeholder="Middle Name" > -->
            </div>
            <div class="form-group col-md-4">
                <label for="inputText">Last Name</label>
                {{form.last_name}}
               <!-- <input type="text" class="form-control" id="name" placeholder="Last Name" > -->
            </div>
            

        </div>
        <div class="row">

                <div class="form-group col-md-6">
                    <label for="inputText">NRC</label>
                    {{form.NRC}}
                   <!-- <input type="text" class="form-control" id="id_NRC" name="NRC" maxlength="11"  placeholder="NRC Number" > -->
                </div>


                <div class="form-group col-md-6">
                    <label for="inputText">Cell Phone</label>
                    {{form.cell_Number}}
                   <!-- <input type="text" class="form-control" id="id_cell_Number" name="cell_Number" maxlength="10"  placeholder="10 digit Cell Phone Number" >-->
                </div>
                <div class="form-group col-md-6">
                    <label for="inputText">Gender</label>
                    {{form.gender}}
                   <!-- <input type="text" class="form-control" id="id_cell_Number" name="cell_Number" maxlength="10"  placeholder="10 digit Cell Phone Number" >-->
                </div>

                <div class="form-group col-md-6">
                    <label for="inputText">Session</label>
                    {{form.session}}
                   <!-- <input type="text" class="form-control" id="id_cell_Number" name="cell_Number" maxlength="10"  placeholder="10 digit Cell Phone Number" >-->
                </div>
        </div>
        <div class="row">
            <div class="col ">
                <label for="inputEmail4">Email</label>
                {{form.email}}
                <!--<input type="email" name="email" class="form-control" placeholder="email@abc.abc" maxlength="254" required="" id="id_email"> -->
            </div>
            <div class="col ">
                <label for="inputEmail4">Address</label>
                {{form.Address}}
                <!--<input type="text" name="Address" class="form-control" placeholder="Address" maxlength="500" required="" id="id_Address"> -->
            </div>
            
        </div>
            <div class="form-row">                

                <div class="col">
                    <label for="subject">Subject</label>
                    {{form.subject}}
                    
                </div>
                <div class="col">
                    <label for="subject">Paper Number</label>
                    {{form.paper}}
                    
                </div>
                <div class "col">
                    <label for "posision">Position</label>
                    {{form.position}}
                  
                </div>
                
            </div>
        <div class="form-row">
            <div class="col">
                <label for="Province">From Province</label>
                {{form.province}}
                
            </div>
            <div class="col">
                <label for="inputState">From District/Station</label>
                {{form.district}}
                
            </div>
        </div>

        <div class="row">
                    
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Province">Bank</label>
                {{form.bank}}
              
            </div>
            <div class="form-group col-md-4">
                <label for="branch">Bank Branch</label>
                {{form.branch}}
                
            </div>
        
            <div class="form-group col-md-4">
                <label for="inputZip">Account Number</label>
                {{form.AccountDetails}}
                
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="TPIN">TPIN</label>
                {{form.TPIN}}
            
            </div>
        </div>



            <div class="form-group">
            <div class="form-check">
                <label class="form-check-label" for="availability">
                <input type="checkbox" name="availability" id="id_availability">
                Available for the marking session?
                </label>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        {{form.errors}}
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $("#id_province").change(function () {
        const provinceID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "load-districts" %}',
            data: {
                'province_id': provinceID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="">Choose a district</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.name}</option>`
                });
                $("#id_district").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>

<script>
    $("#id_subject").change(function () {
        const subjectID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "get_papernumber_ajax" %}',
            data: {
                'subject_id': subjectID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="">Choose a paper number</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.paper_number}">${data.paper_name}</option>`
                });
                $("#id_paper").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>

<script>
  $("#id_bank").change(function () {
      const bankID = $(this).val();  // get the selected  ID from the HTML dropdown list 
      $.ajax({                       // initialize an AJAX request
          type: "POST",
          url: '{% url "load-bank-branches" %}',
          data: {
              'bank_id': bankID,       // add the  id to the POST parameters
              'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function (data) {   // `data` is from `load-bank-branches` view function
              let html_data = '<option value="">Choose a bank branch</option>';
              data.forEach(function (data) {
                  html_data += `<option value="${data.id}">${data.name}</option>`
              });
              $("#id_branch").html(html_data); // replace the contents  with the data that came from the server
          }
      });
  });
</script>
{%endblock content%}







<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>