{%extends 'index.html' %}
{% load static %}

{%block content%}
<div class="container">

<h3>Examiners</h3>
<div id="preload" style="color:blue; width:100%; height:100%; position:absolute; display:none;"  >
    <img src="{% static '/img/preloaders/mailloader.gif' %}" style="margin-right:25%; margin-left:25%; margin-top:10%;">
</div>

<span><a class="btn btn-info btn-sm float-right" href="#" id='batchmail-btn'> Email selected<a/> </span>
  <span>  <a class="btn btn-success btn-sm float-right" href="{%url 'examiner_upload_csv'%}">Upload CSV</a><span>
<span  ><a href="{%url 'examiner-requests'%}" class="btn btn-info btn-sm">unaproved Examiners 
    <span class="badge badge-light"> {{not_approved_examiners_count}} </span></a> </span>
<hr>

<div class="table-responsive overflow-auto card card-body">
<table class="table table-hover text-nowrap table-sm" id="examinersTable">
 {% csrf_token %}
 <thead>
    <tr>
      <!--  <th>id</th> -->
      <th></th>
        <th><input type="checkbox"  id="checkAll" ></th>
        <th>Examiner Number</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>position</th>
        <th>Subject</th>
        <th>Availability</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    {%for item in approved_examiners %} 
<tr>
    <td></td>
    <td> <input type="checkbox" name="examiner_id[]" value="{{item.id}}" id="examiner_item">
    </td>
   <!-- <td>{{item.id}}</td> -->
    <td>{{item.ExaminerCode}}</td>
    <td>{{item.first_name}}</td>
    <td>{{item.middle_name}}</td>
    <td>{{item.last_name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.position.name}}</td>
    <td>
        
        {{item.subject.subjectName}}

        {% if item.paper %}
        ({{item.paper.paper_number}})
        {% endif %}
    
    </td>
        {% if item.availability %}
         <td>Available</td>
        {% endif %}
        {% if not item.availability %}
        <td>Not Available</td>
        {% endif %}

        {% if item.approved %}
         <td>Apoved</td>
        {% endif %}
        {% if not item.approved %}
        <td>Not Approved</td>
        {% endif %}
    
    <td><a href="{% url 'examiner-details' item.id %}"><i class='fas fa-eye'></i></a></td>
    <td><a href="{% url 'examiner-edit' item.id %}"><i class='fas fa-pencil-alt'></i></a></td>
    <td><a href="{% url 'examiner-delete' item.id %}"><i class='far fa-trash-alt' style='color:red'></i></a></td>
</tr>
{%empty%}
<h4>no Examiners in list</h4>
    {%endfor%}
</tbody>
</table>
</div>

<a href="{%url 'add-examiner'%}">ADD New</a>



<input type="submit" value="Delete selected" id="delete_multiple_btn">

</div>
{%endblock content%}

{% block script %}
<script>
   
    $(document).ready(function(){
        $("#checkAll").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
         });
     $("#examinersTable").dataTable({
        "scrollY": "55vh",
        "scrollCollapse": true,
        "paging": false

        });
       
        $("#delete_multiple_btn").click(function(){
            if (confirm('are you sure you whant to delete these items?'))
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if (id.length==0){
                alert("No items checked!")
            }else{
                console.log(id)
                $.ajax({
                    url:'',
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
    
                    },
                    success:function(response){
                        for(var i =0; i<= id.length; i++){
                            $('tr#'+id[i]+'').css('background-color','#ccc');
                            $('tr#'+id[i]+'').fadeOut('slow');
                        }
                    }
                })
            }
        });
    
        $("#batchmail-btn").click(function(){
            if (confirm('are you sure you whant to Email the selected Examiners?'))
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
             })
            if (id.length==0){
                alert("No items checked!")
            }else{
                console.log(id)
                $('#preload').css('display','block')
                $.ajax({
                    url:"{%url 'batch-mail'%}",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
    
                    },
                    done:function(response){
                        $('#preload').css('display','none')
                    },
                    success:function(response){
                        $('#preload').css('display','none');
                        Swal.fire(
                            'Done!',
                            'Batch Email sent!',
                            'success'
                          )
                    }
                })
            }
        });
    })
    
    </script>
    
    </div>
{% endblock script %}