{% load static%}

<aside class="main-sidebar sidebar-dark-primary  elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'ead-home'%}" class="brand-link">
      <img src="{% static '/img/ECZ-Logo2.jpg'%}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-heavy"><strong>ECZ</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/user.png'%}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info" id="user">
          <a href="#" class="d-block">{{ request.user.username}}</a>
        </div>
      </div>

     
      <!-- Sidebar Menu -->
      <nav class="sidebar mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="nav_accordion">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class='nav-icon fas fa-book-reader' style='font-size:24px'></i>
              <p>
                Manage Examiners
              </p>
            </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="{%url 'confirmed-list'%}">Confirmed Examiners </a> </li>
              <li><a class="nav-link" href="{%url 'add-examiner'%}"><p>Add New Examiner </p></a></li>
              <li><a class="nav-link" href="{%url 'examiner-list'%}"> <p>Approved List</p></a> </li>
              <li><a class="nav-link" href="{%url 'examiner-requests'%}">Pending List </a> </li>
            </ul>
          </li>
          
          {% comment %}
            <li class="nav-item">
            <a href="{%url 'notifications-list'%}" class="nav-link">
              <i class='nav-icon fas fa-bullhorn' style='font-size:24px'></i>
              <p>
              All  Invitations
              
              </p>
            </a>
          </li>
          {% endcomment %}
          
          <li class="nav-item">
            <a href="{%url 'bank-list'%}" class="nav-link">
              <i class='nav-icon far fa-building' style='font-size:24px'></i
              <p>
              Banks  
              </p>
            </a>
          </li>
          
            <li class="nav-item">
            <a href="{%url 'mail-list'%}" class="nav-link">
              <i class='nav-icon fas fa-mail-bulk' style='font-size:24px'></i>
              <p>
              Mail List 
              </p>
            </a>
          </li>
          
          
          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class='nav-icon far fa-address-book' style='font-size:24px'></i>
              <p>
                subjects
               
              </p>
            </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="{%url 'add-subject'%}"><p>Add New </p></a></li>
              <li><a href="{%url 'subject-list'%}" class="nav-link">
                <i class='fas fa-list-ol' style='font-size:24px'></i>
                <p>
                  subjects list
                
                </p>
              </a>
            </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{%url 'marking-center'%}" class="nav-link">
              <i class='nav-icon far fa-building' style='font-size:24px'></i
              <p>
              Marking Center  
              </p>
            </a>
          </li>
          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class='nav-icon far fa-address-book' style='font-size:24px'></i>
              <p>
                Schedule
               
              </p>
            </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="{%url 'schedule_table'%}"><p>Schedule Table</p></a></li>
              <li><a class="nav-link" href="{%url 'schedule'%}"> <p>Examiners Schedule</p></a> </li>

            </ul>
          </li>
          <li class="nav-item has-submenu">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Sessions
              
              </p>
            </a>
            <ul class="submenu collapse">
              <li><a class="nav-link" href="{%url 'sessions-all'%}"><p>Sessions</p></a></li>
            </ul>
          </li>
        </li>
        {% if request.user.is_admin == True %}
        <li class="nav-item has-submenu">
          <a href="" class="nav-link">
            <i class='nav-icon fas fa-users' style='font-size:24px'></i>
            <p>
              Users
              
            </p>
          </a>
          <ul class="submenu collapse">
            <li><a class="nav-link" href="{%url 'add-user'%}"><p>Add New User </p></a></li>
            <li><a class="nav-link" href="{%url 'userlist'%}"> <p>List</p></a> </li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a href="{%url 'log-entries'%}" class="nav-link">
            <i class="fa fa-clock-o" style="font-size:24px"></i>
            <p>
            Audit Logs 
            </p>
          </a>
        </li>
        {% endif %}

        <li class="nav-item has-submenu">
          <a href="{%url 'ECZStaff-create'%}" class="nav-link">
            <i class="fa fa-user-o" style="font-size:24px"></i>
            <p>
              Manage Data Entry Cord..
            </p>
          </a>
          <ul class="submenu collapse">
            <li > <a class="nav-link"  href="{%url 'station-admin-list'%}">D.E Cordinators</a></li>
            
          </ul>
        </li>
{% comment %}
        <li class="nav-item">
          <a href="{%url 'staff-list'%}" class="nav-link">
            <i class='nav-icon fas fa-chalkboard-teacher'  style='font-size:24px'></i>
            <p>
              Manager Staff
            
            </p>
          </a>
        </li>
        
          <li class="nav-item">
          <a href="{%url 'group-list'%}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Group Manager
            
            </p>
          </a>
        </li>
        
        
          {% if request.user.is_admin %}
          <li class="nav-item">
            <a href="{%url 'ead-list'%}" class="nav-link">
              <i class='nav-icon fas fa-user-friends' style='font-size:24px'></i>
              <p>
                Manage EAD
              
              </p>
            </a>
          </li>
          {% endif %}
          {% endcomment %}
          {% comment %}
            <li class="nav-item">
            <a href="{%url 'comments-list'%}" class="nav-link">
              <i class='nav-icon far fa-comment-alt' style='font-size:24px'></i>
              <p>
              Comments
              
              </p>
            </a>
          </li>
          {% endcomment %}
          
         
        </ul>

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>