{% load static%}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'ead-home'%}" class="brand-link">
      <img src="{% static '/img/ECZ-Logo2.jpg'%}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-heavy"><strong>ECZ</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/user.png'%}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{%url 'updateprofile' request.user.id %}" class="d-block">{{ request.user.username}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form 
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
-->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{%url 'examiner-list'%}" class="nav-link">
              <i class='nav-icon fas fa-book-reader' style='font-size:24px'></i>
              <p>
                Manage Examiners
              
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'notifications-list'%}" class="nav-link">
              <i class='nav-icon fas fa-bullhorn' style='font-size:24px'></i>
              <p>
              All  Invitations
              
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'bank-list'%}" class="nav-link">
              <i class='far fa-building' style='font-size:24px'></i
              <p>
              Banks  
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'send-email'%}" class="nav-link">
              <i class='nav-icon fas fa-mail-bulk' style='font-size:24px'></i>
              <p>
              Send mail  
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'add-subject'%}" class="nav-link">
              <i class='nav-icon far fa-address-book' style='font-size:24px'></i>
              <p>
                subjects
              
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'schedule'%}" class="nav-link">
              <i class='nav-icon far fa-address-book' style='font-size:24px'></i>
              <p>
                Schedule
              
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'subject-list'%}" class="nav-link">
              <i class='fas fa-list-ol' style='font-size:24px'></i>
              <p>
                subjects list
              
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'sessions-all'%}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Sessions
              
              </p>
            </a>
          </li>
        </li>
        <li class="nav-item">
          <a href="{%url 'userlist'%}" class="nav-link">
            <i class='nav-icon fas fa-users' style='font-size:24px'></i>
            <p>
              Users
            
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{%url 'staff-list'%}" class="nav-link">
            <i class='nav-icon fas fa-chalkboard-teacher'  style='font-size:24px'></i>
            <p>
              Manager Staff
            
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{%url 'group-list'%}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Group Manager
            
            </p>
          </a>
        </li>
          {% if request.user.is_admin %}
          <li class="nav-item">
            <a href="{%url 'ead-list'%}" class="nav-link">
              <i class='nav-icon fas fa-user-friends' style='font-size:24px'></i>
              <p>
                Manage EAD
              
              </p>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{%url 'comments-list'%}" class="nav-link">
              <i class='nav-icon far fa-comment-alt' style='font-size:24px'></i>
              <p>
              Comments
              
              </p>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>