{% extends 'base.html' %}

{% block title %}
Staff list
{% endblock title %}

{% block content %}
List of staff members
<div class="table table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Province</th>
                <th>District</th>
                <th>Bank</th>
                <th>Branch</th>
                <th>Sort Code</th>
                <th><th>
            </tr>
        </thead>
        <tbody>
        {% for item in staffs %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.UserName}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.middle_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.Address}}</td>
            <td>{{item.cell_number}}</td>
            <td>{{item.province}}</td>
            <td>{{item.district}}</td>
            <td>{{item.bank}}</td>
            <td>{{item.branch}}</td>
            <td>{{item.branch.sortcode}}</td>
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>

<a href="{%url 'staff-create'%}" class="btn btn-primary">Add Staff</a>
{% endblock content %}