{% extends 'base.html' %}
{% block content %}

{% csrf_token %}
in the form
<div class="col-md-6">
  <div class="form-group">
    <label for="inputStatus">Country</label>
    <select id="country-country" class="form-control-sm custom-select">
      <option selected disabled>Choose a country</option>
      {% for item in countries%}
      <option value="{{item.id}}">{{item.name}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="inputStatus">City</label>
    <select id="country-city" class="form-control-sm custom-select" name="city">
      <option selected disabled>Choose a city</option>
    </select>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $("#country-country").change(function () {
        const countryID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "get_topics_ajax" %}',
            data: {
                'country_id': countryID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="">---------</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.name}</option>`
                });
                $("#country-city").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>


{% endblock content %}


