{%extends 'base.html'%}

{% load static %}

{%block content%}
<h3>Profile update</h3>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="POST" action="" >
                {% csrf_token %}
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputText">UserName</label>
                    {% if request.user.user_type is 3 %}
                    <input type="text" class="form-control" id="UserName" value="{{request.user.username}}" placeholder="UserName" disabled>
                    {% else %}
                    {{form.UserName}}

                    {% endif %}
                   <!--
                     <input type="text" class="form-control" id="UserName" value="{{request.user.username}}" placeholder="UserName" disabled>
                -->
                    <span><a href="{%url 'updatepassword'%}"  >change password</a></span>
                </div>
            </div>

                <div class="row">
                    <div class="col ">
                        <label for="inputText">First Name</label>
                        {{form.first_name}}
                       <!-- <input type="text" class="form-control" id="id_name" name="name"  placeholder="First Name" > -->
                    </div>
                
                    <div class="col ">
                        <label for="inputText">Middle Name</label>
                            {{form.middle_name}}
                       <!-- <input type="text" class="form-control" id="name"  placeholder="Middle Name" > -->
                    </div>
                    <div class="col">
                        <label for="inputText">Last Name</label>
                        {{form.last_name}}
                       <!-- <input type="text" class="form-control" id="name" placeholder="Last Name" > -->
                    </div>
                    
        
                </div>
                <div class="row">
        
                        <div class="form-group col-md-6">
                            <label for="inputText">NRC</label>
                            {{form.NRC}}
                           <!-- <input type="text" class="form-control" id="id_NRC" name="NRC" maxlength="11"  placeholder="NRC Number" > -->
                        </div>
        
        
                        <div class="form-group col-md-6">
                            <label for="inputText">Cell Phone</label>
                            {{form.cell_Number}}
                           <!-- <input type="text" class="form-control" id="id_cell_Number" name="cell_Number" maxlength="10"  placeholder="10 digit Cell Phone Number" >-->
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col">
                            <label for="inputEmail4">Gender</label>
                            {{form.gender}}
                        </div>
                    <div class="col ">
                        <label for="inputEmail4">Email</label>
                        {{form.email}}
        
                    </div>
                </div>
                    <div class="form-group ">
                        <label for="inputEmail4">Address</label>
                      {{form.Address}}
                        <!--<input type="text" name="Address" class="form-control" placeholder="Address" maxlength="500" required="" id="id_Address"> -->
                    </div>
               

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="province">Province</label>
                            {{form.province}}
                          <!--  <select id="province" class="form-control">
                            <option selected disabled>Select District</option>
                            {%for province in provinces%}
                            <option value="{{province.id}}">{{province.name}}</option>
                            {%endfor%}
                            </select> -->
                        </div>
                        <div class="form-group col-md-4">
                            <label for="district">District</label>
                            {{form.district}}
                          <!--  <select id="district" class="form-control">
                            <option selected disabled>Choose a district</option>
                            </select>-->
                            
                        </div>
                   <!--     <div class="form-group col-md-2">
                            <label for="inputZip">Station</label>
                            {{form.}}
                        </div>
                    -->                       
                     </div>
                     {% if request.user.user_type is 3 %}
                <div class="form-row">
                  
                     <div class="form-group col-md-4">
                        <label for="subject">Subject</label>
                         
                        {{form.subject}}
                     </div>
                     <div class="form-group col-md-4">
                        <label for="subject">Paper Number</label>
                         
                        {{form.paper}}
                     </div>
                  
                    <div class="form-group col-md-4">
                        <label for="position">Position</label>
                        {{form.position}}
                    </div>
                </div>
                    {% endif %}

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="bank">Bank</label>
                                {{form.bank}}
                               <!-- <select id="id_bank" name="bank" class="form-control">
                                <option selected disabled>Choose a Bank</option>
                                {% for bank in bank_list %}
                                <option value="{{bank.id}}">{{bank.name}}</option>
                                {% endfor %}
                                </select> -->
                            </div>
                            <div class="form-group col-md-4">
                                <label for="branch">Bank Branch</label>
                                {{form.branch}}
                                <!--<select name="branch" class="form-control" placeholder="bankbranch" required="" id="id_branch">
                                <option selected disabled>Choose a branch</option>
                                </select> -->
                            </div>
                        
                            <div class="form-group col-md-4">
                                <label for="inputZip">Account Number</label>
                                {{form.AccountDetails}}
                                <!-- <input type="text" name="AccountDetails" class="form-control" placeholder="Account Details" maxlength="150" required="" id="id_AccountDetails"> -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="TPIN">TPIN</label>
                                {{form.TPIN}}
                            <!--    <input type="text" name="TPIN" class="form-control" placeholder="T Pin" maxlength="10" required="" id="id_TPIN"> -->
                            </div>
                        </div>
                
                
                <button type="submit" class="btn btn-primary">Update</button>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} :{{form.field.error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        
            </form>
        </div>
    </div>
</div>
<!--=================modal=======================================-->


<!--===================================close mdal======================================-->

{%endblock%}

{% block script %}
<script>
    $("#id_bank").change(function () {
        const bankID = $(this).val();  // get the selected  ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "load-bank-branches" %}',
            data: {
                'bank_id': bankID,       // add the  id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `load-bank-branches` view function
                let html_data = '<option value="">Choose a bank branch</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.name}</option>`
                });
                $("#id_branch").html(html_data); // replace the contents  with the data that came from the server
            }
        });
    });

</script>
<script>
    $(document).on("click", "#changepassword", function(){
    //Disabling the Button while data is being saved in Server
            $(this).attr("disabled", "disabled")
            $(this).text("updating password...")

            var pass1=$("#id_new_password1").val();
            var pass2=$("#id_new_password2").val();
            

            $.ajax({
                url:"{%url 'updatepassword'%}",
                type:'POST',
                data:{'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),pass1:pass1, pass2:pass2},
            })
            
           // console.log(pass1);
           // console.log(pass2);
 
        })

</script>
<script>
    $("#id_province").change(function () {
        const provinceID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "load-districts" %}',
            data: {
                'province_id': provinceID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="">Choose a district</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.name}</option>`
                });
                $("#id_district").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>
<script>
    $("#id_subject").change(function () {
        const subjectID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "get_papernumber_ajax" %}',
            data: {
                'subject_id': subjectID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="">Choose a paper number</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.paper_number}">${data.paper_name}</option>`
                });
                $("#id_paper").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>
{% endblock script %}