{% extends 'base.html' %}

{% block content %}
<a href="{% url 'upload_csv'%}">Upload bank branches from csv</a>
<table class="table table-sm" id="banksTable">
    <thead>
        <tr>
            <th>Bank </th>
            <th>Bank Branch</th>
            <th>sort code</th>
        </tr>
    </thead>
    <tbody>
        {% for branch in branches %}
        <tr>
            <td>{{branch.bank.name}}</td>
            <td>{{branch.name}}</td>
            <td><input value="'" hidden>{{branch.sortcode|add:"0"|stringformat:"06d"}}</td>
        </tr>
        {% endfor %}

    </tbody> 
</table>



{% endblock content %}
{% block script %}
<script>
$(document).ready(function(){
    $("#banksTable").dataTable({
        "scrollY":300,
        "paging":false,
        dom:'Bfrtip',
        buttons:[
        'excel','pdf','print'
        ]
    });

});
</script>
{% endblock script %}

