{% extends 'base.html'%}
{% load static %}

{%block content%}
<div id="preload" style=" color:blue; width:100%; height:100%; position:absolute; display:none; z-index:1;"  >
    <img src="{% static '/img/preloader.gif' %}" style="margin-right:25%; margin-left:25%; margin-top:10%;">
</div>
<form action= "{%url 'examiner_upload_csv'%}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
        <div class="col-md-8">
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        </div>                    
    </div>
    <div class="form-group">                    
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
             <button class="btn btn-primary btn-sm" id="upload-btn"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;" ></span>Upload </button>
        </div> 
    </div>
{{form.errors}}
    {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
{% if messages %}

{% endif %}
    </form>

    format of csv file
    <table class="table table-sm">
<tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Subject Code</th>
    <th>Paper Number</th>
    <th>Email</th>
    <th>Position</th>
</tr>
    </table>
{%endblock%}

{% block script %}
<script>
$("#upload-btn").click(function(){
    if ($('#csv_file').get(0).files.length === 0) {
        console.log("No files selected.");
    }
     else {
        $('#preload').css('display','block')
     }
    
})
</script>
{% endblock script %}