

.main-sidebar{
   background-color:#0b5e28
}
.main-header{
    background-color: #47b471;
   /** background-color: #4db66d;**/
}

.card-link{
    color: #000cb0;
}
.ecz{
    outline-color: #000cb0;
}
.content-wrapper{
    background-color: #bcdbcde8;
}


/** 
drop down on nav style
**/
.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

/**text #ffffff BG:#00b04c 

**/




.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;



    
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }