

.main-sidebar{
    background-color:#0b5e28
}
.main-header{
    background-color: #47b471;
   /** background-color: #4db66d;**/
}

.card-link{
    color: #000cb0;
}
.ecz{
    outline-color: #000cb0;
}
.content-wrapper{
    background-color: #bcdbcde8;
}

/**text #ffffff BG:#00b04c