{% extends 'base.html'%}

<h3>Examiner-List</h3>
{%block content%}

<div class="container">
<table class="table table-sm">
    <caption>List of examiners</caption>
    <tr>
        <th>Id</th>
        <th>Number</th>
        <th>subject</th>
        <th>Name</th>
        <th>NRC</th>
    </tr>
   {%for examiner in examiners%}
    <tr>
        <td>{{examiner.id}}</td>
        <td>{{examiner.ExaminerCode}}</td>
        <td>{{examiner.subject}}</td>
        <td>{{examiner.name}}</td>
        <td>{{examiner.nrc}}</td>
        
        <td><a href="{%url 'examiner-details' student.id%}">Details</a></td>
        <td><a href="{% url 'examiner-edit' student.id%}">Edit</a></td>
        <td><a href="{% url 'examiner-delete' student.id%}">delete</a></td>
    </tr>
    {%empty%}
    <h3>No Examiners to display</h3>
    {%endfor%}
</table>
<a href="{%url 'add-examiner'%}">add</a>
</div>
{%endblock%}