{%extends 'index.html' %}
{% load static %}

{% block title %}
Confirmed Examiners
{% endblock title %}

{%block content%}
<div class="container">
EXAMINERS THAT HAVE CONFIRMED AVAILABILITY FOR THE YEAR'S MARKING SESSION
<hr>
{% comment %}
    <a href="{%url 'add-examiner'%}" class="btn btn-primary btn-sm">ADD EXAMINER</a>
<input type="submit" class="btn btn-danger btn-sm" value="Delete selected" id="delete_multiple_btn">
{% endcomment %}


<div class="table-responsive overflow-auto card card-body">
<table class="table table-hover text-nowrap table-sm" id="examinersTable">
 {% csrf_token %}
 <thead>
    <tr>
      <!--  <th>id</th> -->
        <th><input type="checkbox"  id="checkAll" ></th>
        <th>S.NO</th>
        <th>Examiner Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>position</th>
        <th>Subject</th>  
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {%for item in examiners %} 
<tr>
    <td> <input type="checkbox" name="examiner_id[]" value="{{item.id}}" id="examiner_item">
    </td>
   <!-- <td>{{item.id}}</td> -->
   <td>{{forloop.counter}}</td>
    <td>{{item.ExaminerCode}}</td>
    <td>{{item.first_name}}</td>
    <td>{{item.last_name}}</td>
    <td>{{item.position.name}}</td>
    <td>
        
        {{item.subject.subjectName}}

        {% if item.paper %}
        ({{item.paper.paper_number}})
        {% endif %}
    
    </td>
       

        
    
    <td><a href="{% url 'examiner-details' item.id %}"><i class='fas fa-eye'></i></a></td>
    <td><a href="{% url 'examiner-edit' item.id %}"><i class='fas fa-pencil-alt'></i></a></td>
    <td><a href="{% url 'examiner-delete' item.id %}"><i class='far fa-trash-alt' style='color:red'></i></a></td>
</tr>
{%empty%}
<h4>no Examiners in list</h4>
    {%endfor%}
</tbody>
</table>
</div>



</div>
{%endblock content%}

{% block script %}
<script>
   
    $(document).ready(function(){
        $("#checkAll").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
         });

       //  var buttonConfig = [];
       //  var exportTitle = "ExportTableData"
       //  buttonConfig.push({extend:'copyHtml5',title: exportTitle,className: 'btn-primary btn-sm'});
       //  buttonConfig.push({extend:'copyHtml5',title: exportTitle,className: 'btn-success btn-sm'});
       //  buttonConfig.push({extend:'copyHtml5',title: exportTitle,className: 'btn-warning btn-sm'});
       //  buttonConfig.push({extend:'copyHtml5',title: exportTitle,className: 'btn-danger btn-sm'});		
         



    $("#examinersTable").DataTable({
        "scrollY":'50vh',
        "scrollX":true,
        "fixedHeader": true,
        "scrollCollapse": true,
        "paging": false,
        dom:'Bfrtip',
        "buttons":[
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [2,3,4,5,6,7]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [2, 3,4,5,6,]
                }
            },
        ],
        "columnDefs": [
                {
                    orderable: false,
                    targets: [0,7,8,9]
                },
                        ]
       
        });
       
        $("#delete_multiple_btn").click(function(){
            if (confirm('are you sure you whant to delete these items?'))
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if (id.length==0){
                alert("No items checked!")
            }else{
                console.log(id)
                $.ajax({
                    url:'',
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
    
                    },
                    success:function(response){
                        for(var i =0; i<= id.length; i++){
                            $('tr#'+id[i]+'').css('background-color','#ccc');
                            $('tr#'+id[i]+'').fadeOut('slow');
                        }
                    }
                })
            }
        });
    
        $("#batchmail-btn").click(function(){
            if (confirm('are you sure you whant to Email the selected Examiners?'))
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
             })
            if (id.length==0){
                alert("No items checked!")
            }else{
                console.log(id)
                $('#preload').css('display','block')
                $.ajax({
                    url:"{%url 'batch-mail'%}",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
    
                    },
                    done:function(response){
                        $('#preload').css('display','none')
                    },
                    success:function(response){
                        $('#preload').css('display','none');
                        Swal.fire(
                            'Done!',
                            'Batch Email sent!',
                            'success'
                          )
                    }
                })
            }
        });
    })
    
    </script>
    
    </div>
{% endblock script %}