{%extends 'index.html' %}

{%block content%}
<h3>Examiners waiting approval</h3>
<a href="{%url 'examiner-list'%}">Back to Approved Examiners</a>
<div class="table-responsive">
<table class="table table-hover text-nowrap">
  
  
    {% csrf_token %}
       <tr>
         <!--  <th>id</th> -->
         <th></th>
           <th>Examiner Number</th>
           <th>First Name</th>
           <th>Middle Name</th>
           <th>Last Name</th>
           <th>position</th>
           <th>Subject</th>
           <th>Availability</th>
           <th>Status</th>
        
           
           <th></th>
       </tr>
       {%for item in examiners %} 
   <tr id="{{item.id}}">
      <!-- <td>{{item.id}}</td> -->
      <td> <input type="checkbox" name="examiner_id[]" value="{{item.id}}" id="approve_examiner">
      </td>
       <td>{{item.ExaminerCode}}</td>
       <td>{{item.first_name}}</td>
       <td>{{item.middle_name}}</td>
       <td>{{item.last_name}}</td>
       <td>{{item.position.name}}</td>
       <td>{{item.subject.subjectName}}</td>
           {% if item.availability %}
            <td>Available</td>
           {% endif %}
           {% if not item.availability %}
           <td>Not Available</td>
           {% endif %}
   
           {% if item.approved %}
            <td>Apoved</td>
           {% endif %}
           {% if not item.approved %}
           <td>Not Approved</td>
           {% endif %}
      
       <td><a href="{% url 'examiner-details' item.id %}"><i class='fas fa-eye'></i></a></td>
    <td><a href="{% url 'examiner-edit' item.id %}"><i class='fas fa-pencil-alt'></i></a></td>
    <td><a href="{% url 'examiner-delete' item.id %}"><i class='far fa-trash-alt' style='color:red'></i></a></td>
   </tr>
   {%empty%}
   <h4>no Examiners in list</h4>
       {%endfor%}
   </table>
</div>
   <input type="button" value="approve" id="appove_multiple_btn">




   <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

   <script>
   
$(document).ready(function(){
    $("#appove_multiple_btn").click(function(){
        if (confirm('Note that Approving an examiner will automatically send them a notification.Are you sure you whant to approve selected Examiners?'))
        var id=[];
        var csrf=$('input[name=csrfmiddlewaretoken]').val();
        $(':checkbox:checked').each(function(i){
            id[i]=$(this).val()
        })
        if (id.length==0){
            alert("No Examiners checked!")
        }else{
            console.log(id)
            $.ajax({
                url:'',
                method:"POST",
                data:{
                    id,
                    csrfmiddlewaretoken:csrf

                },
                success:function(response){
                    for(var i =0; i<= id.length; i++){
                        $('tr#'+id[i]+'').css('background-color','#ccc');
                        $('tr#'+id[i]+'').fadeOut('slow');
                    }
                }
            })
        }
    })
})

</script>
{%endblock content%}
