{%extends 'index.html' %}


{%block content%}
<h3>{{Examiner.name}}</h3> <a href="#">PDF</a>
<div class="table-responsive">
<table class="table-bordered">
    <thead>
        <tr>
            <th colspan="2 " >
                Personal information
            </th>
        </tr>
    </thead>
    <tr>
        <th>Examiner Number:</th><td>{{Examiner.ExaminerCode}}</td>
    </tr>
    <tr>
        <th>First Name:</th><td>{{Examiner.first_name}}</td>
    </tr>
    <tr>
        <th>Middle Name::</th><td>{{Examiner.middle_name}}</td>
    </tr>
    <tr>
        <th>Last Name:</th><td>{{Examiner.last_name}}</td>
    </tr>
    <tr>
        <th>Examiner Subject:</th><td>{{Examiner.subject}}</td>
    </tr>
    <tr>
        <th>Examiner NRC:</th><td>{{Examiner.NRC}}</td>
    </tr>
    <tr>
        <th>Position:</th><td>{{Examiner.position.name}}</td>
    </tr>
    
    <thead>
        <tr>
            <th colspan="2 " >
                Address information
            </th>
        </tr>
    </thead>
    <tr>
        <th>Province:</th><td>{{Examiner.province}}</td>
    </tr>
    <tr>
        <th>District:</th><td>{{Examiner.District.name}}</td>
    </tr>
    <tr>
        <th>Station Name:</th><td>{{Examiner.station}}</td>
    </tr>
    <thead>
        <tr>
            <th colspan="2 " >
                Bank information
            </th>
        </tr>
    </thead>
    <tr>
        <th>Bank Name:</th><td>{{Examiner.bank}}</td>
    </tr>
    <tr>
        <th>Branch Name:</th><td>{{Examiner.branch}}</td>
    </tr>
    <tr>
        <th>Sort Code:</th><td>{{Examiner.branch.sortcode}}</td>
    </tr>
    <tr>
        <th>Account Number:</th><td>{{Examiner.AccountDetails}}</td>
    </tr>
    <tr>
        <th>T-PIN:</th><td>{{Examiner.TPIN}}</td>
    </tr>

</table>

</div>
<style>
    table{
        width:70%;
        background-color: whitesmoke;
    }
    thead{
        text-align: center;
        font-size: large;
    }
    th,td{
        padding: 15px;
    }
</style>
{%endblock content%}