{% extends 'base.html'%}
{% load static %}

{% block title %}
Examiner Register Home
{% endblock title %}

{%block content%}

<div class="container-fluid">

<div class="row">
<div class="col-md-6 pt-5">
  <div class="card">
    <div class="card-header">
      USER PROFILE
    </div>
    <div class="card-body">
      <a href="profile?"><img src="https://membership.ictaz.org.zm/assets/img/profile_img.png" alt="My Profile" width="130" style="border: 2px solid #333; border-radius: 25px;" border="0"></a>
    </div>
  </div>
</div>

<div class="col-md-6 pt-5">
  <div class="card">
    <div class="card-header">
      DETAILS
    </div>
    <div class="card-body">
      <div class="row">
      <div class="col-md-5">
        <a href="profile?"><img src="{% static 'dist/img/user.png'%}" class="img-circle " alt="User Image"  width="130" style="border: 2px solid #333; border-radius: 25px;" border="0">
          
        </a>
      </div>
      <div class="col-md-7">
      <p> <span class="text-l text-bold">FULL NAMES:</span> {{request.user.first_name}} {{request.user.last_name}}</p>
      <p>  <span class="text-l text-bold">ID:</span> {{request.user.username}}</p>
      <p>  <span class="text-l text-bold">SUBJECT:</span> {{examiner.subject}}</p>
      </div>
    </div>
      
      
    </div>
  </div>
</div>
</div>



<div class="col-md-6">
  <div class="box">
    <div class="card-body">
      
    </div>
  </div>
</div>




    <!-- /.card-body -->
  </div>
    </div>
      <!-- /.card-body -->
    </div>
      </div>
        
    <!-- /.row -->
  </div>
  

 


{%endblock content%}
