{%extends 'index.html' %}

{%block content%}
<h2>Examiner Creation Form</h2>

<form method="POST" id="ExaminerForm" data-districts-url="{% url 'ajax_load_cities'%}">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
              <div class="card card-primary">
                {% csrf_token%}
                {%for field in form%}
                 <div class="card-body">
                  <label for="exampleinputpassword" class="form-lable">{{field.label}}</label>
                  {{field}}
                 </div>
                {%endfor%}
              </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
   
    <a href="{%url 'examiner-list'%}">back</a>  <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_province").change(function () {
    const url = $("#ExaminerForm").attr("data-districts-url");  // get the url of the `load_cities` view
    const provinceId = $(this).val();  // get the selected Province ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'province_id': provinceId      // add the province id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_district` view function
        $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
      }
  
    });
  });
</script>
<script>
  $("#id_country").change(function () {
      const url = $("#ExaminerForm").attr("data-districts-url");  // get the url of the `load_cities` view
      const countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
          data: {
              'country_id': countryId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
           
          }
      });

  });
</script>



</script>
{%endblock content%}
