{% extends 'base.html'%}

{% block title %}
Examiner Register Home
{% endblock title %}

{%block content%}

<div class="container-fluid">
  <div class="col-lg-12">
    <!-- BAR CHART -->
    <div class="card card-success collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Password change</h3>

        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
       
        </div>
    </div>
    <div class="card-body">
      
    <p>Wellcome {{request.user.first_name}}.</p>
    <p>You can change the passwprd of your examiner portal account.To do this, Click on the </p>
    <p>top left corner icon displayoing your examiner number.This will direct you to a page where you </p>
    <p>can change your personal information.On the page,you will see a link in blue,just beneath your </p>
    <p>examiner number.You will enter the old password, then the new password twice.</p>
    <p>a success message will appear. And thats it</p>
    </div>
    <!-- /.card-body -->
  </div>
    </div>
    <div class="col-lg-12">
      <!-- BAR CHART -->
      <div class="card card-success collapsed-card">
      <div class="card-header">
          <h3 class="card-title">Acceptance notification</h3>

          <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
          </div>
      </div>
      <div class="card-body">
        
      <p>Wellcome {{request.user.first_name}}.</p>
      <p>We are pleased to inform you that you have been shortlisted to take part in the forth comming</p>
      <p>marking session scheduled to begin on the 31st of August 2022</p>
      <p>Be informed that changes to the dates,or any other details will be communicated in due time</p>
      <p>Thank you</p>
      </div>
      <!-- /.card-body -->
    </div>
      </div>
      <div class="col-lg-12">
        <!-- BAR CHART -->
        <div class="card card-success collapsed-card" >
        <div class="card-header">
            <h3 class="card-title">Details Verification / Updates</h3>
  
            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
           
            </div>
        </div>
        <div class="card-body">
          
        <p>Wellcome {{request.user.first_name}}.</p>
        <p>Please be advised to check your details as entered during the application process.</p>
        <p>You are adviced to make your changes/updates to your details before the commencement of the 2022 GCE/Internal</p>
        <p>marking session.</p>
        <p>Thank you</p>
        </div>
        <!-- /.card-body -->
      </div>
        </div>



        
    <!-- /.row -->
  </div>
  

 


{%endblock content%}
