{% extends 'base.html'%}

{%block content%}
<h3>List of subjects</h3>
<div class="container">
    <table class="table table-bordered table-striped table-sm" cellspacing="0" >
        <caption>List of Subjects</caption>
        <tr>
            <th>Id</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
        </tr>
        <tbody>
       {%for subject in subjects%}
        <tr>
            <td>{{subject.id}}</td>   
            <td>{{subject.subjectCode}}</td>
            <td>{{subject.subjectName}}</td>
            <td>{{subject.subjectDescription}}</td>
            {% if request.user.user_type == "1" %}
            <td><a href="{%url 'subject-update' subject.id%}">Details</a></td>
            <td><a href="{%url 'subject-delete' subject.id%}">Delete</a></td>
            {%endif%}
        </tr>
        {%empty%}
        <h3>No Subjects to display</h3>
    </tbody>
        {%endfor%}
    </table>
    {% if request.user.user_type == "1" %}
    <a href="{%url 'add-subject'%}">add</a>
    {%endif%}
    </div>


<style>
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}
</style>
<script>
$(document).ready(function () {
    $('#dtDynamicVerticalScrollExample').DataTable({
      "scrollY": "50vh",
      "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
{%endblock%}