{%extends 'index.html' %}


{%block content%}
<hr>
<h3>Examiner list </h3>
<a href="{%url 'export-csv'%}" class="btn btn-primary">Export CSV</a>
<a href="{%url 'export-excel'%}" class="btn btn-success">Export Excel</a>
<div class="card card-body">
<div class="table-responsive">
    <table class="table table-sm table-bordered" >
        <tr>
        <!--  <th>id</th> -->
            <th>Examiner Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>position</th>
            <th>Subject</th>
            <th>Province</th>
            <th>District</th>
            <th>Bank</th>        
            <th>Branch</th>
            <th>Sort Code</th>
            <th>Account Number</th>
            <th></th>
        </tr>
        {%for item in examiners %} 
        <tr>
        <!-- <td>{{item.id}}</td> -->
            <td>{{item.ExaminerCode}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.middle_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.position.name}}</td>
            <td>{{item.subject.subjectName}}</td>
            <td>{{item.province}}</td>
            <td>{{item.district}}</td>
            <td>{{item.bank}}</td>
            <td>{{item.branch}}</td>
            <td>{{item.branch.sortcode|stringformat:"06d"}}</td>
            <td>{{item.AccountDetails}}</td>

                
            <td><a href="{% url 'examiner-details' item.id %}"><i class="fa-sharp fa-solid fa-eye"></i>view</a></td>

        </tr>
    {%empty%}
    <h4>no Examiners in list</h4>
        {%endfor%}
    </table>
</div>
</div>

{%endblock content%}