{% extends 'base.html' %}

{% block title %}
Schedule
{% endblock title %}

{% block content %}

LIST OF REGISTERED MARKERS FOR 2022 GCE MARKING
<hr>
<a href="#" class="btn btn-success float-right">Export Excel</a>
<span><a href="{%url 'upload_stations'%}" class="btn btn-primary">Upload Stations</a></span>
<span><a href="{%url 'schedule_table'%}" class="btn btn-info">Schedule Table</a></span>

<div class="card card-body">
<div class="table-responsive">
<table class="table table-sm">
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>NRC</th>
        <th>CELL</th>
        <th>RESIDENTIAL ADDRESS</th>
        <th>FROM PROVINCE</th>
        <th>FROM Station/District</th>
        <th>TO STATION</th>
        <th>TRANSPORT</th>
        <th>SUBJECT</th>
        <th>POSITION</th>
        <th>BANK</th>
        <th>BRANCH</th>
        <th>SORT CODE</th>
        <th>ACCOUNT NUMBER</th>
        <th>T-PIN</th>

    </thead>
    <tbody>
            
            {% for item in payments %}
            <tr>
                <td>{{item.examiner.id}}</td>
                <td>{{item.examiner.first_name}}</td>
                <td>{{item.examiner.middle_name}}</td>
                <td>{{item.examiner.last_name}}</td>
                <td>{{item.examiner.NRC}}</td>
                <td>{{item.examiner.cell_Number}}</td>
                <td>{{item.examiner.Address}}</td>
                <td>{{item.examiner.province}}</td>
                <td>{{item.examiner.district}}</td>
                <td>{{item.examiner.to_province}}</td>
                <td>

                    {{item.transport}}
                </td>

                <td>{{item.examiner.subject.subjectName}}</td>
                <td>{{item.examiner.position}}</td>
                <td>{{item.examiner.bank}}</td>
                <td>{{item.examiner.branch}}</td>
                <td>{{item.examiner.branch.sortcode}}</td>
                <td>{{item.examiner.AccountDetails}}</td>
                <td>{{item.examiner.TPIN}}</td>
            </tr>
            {% endfor %}


    </tbody>
</table>
</div>
</div>
{% endblock content %}

