{%extends 'index.html' %}


{%block content%}
<h4>PAY SCHEDULE TABLE</h4>
<hr>
<a href="{%url 'upload_schedule_csv'%}" class="btn btn-primary btn-sm">Upload Schedule data</a> 
<div class="table-responsive overflow-auto">
<table class="table table-hover text-wrap table-striped table-sm" id="ScheduleTable">
 {% csrf_token %}
 <thead>
    <tr>
      <!--  <th>id</th> -->
        <th><input type="checkbox" id="checkAll"></td>
        <th>DISTRICT</th>
        <th>LUSAKA</th>
        <th>C/BELT</th>
        <th>MONZE</th>
        <th>KAPIRI</th>
        <th>L/STONE</th>
        <th>CHOMA</th>
        <th>MWANDI</th>
        <th>LUNTE</th>
        <th>MWENSE</th>
        <th>KASENENGWA</th>
        <th>CHISAMBA</th>
        <th>CHIBOMBO</th>
       
    </tr>
</thead>
<tbody>
    {%for item in schedule %} 
<tr id="{{item.id}}">
   <!-- <td>{{item.id}}</td> -->
   <td><input type="checkbox" value="{{item.id}}"></td>
   <td><b>{{item.FromDistrict}}</b></td>
    <td>{{item.LUSAKA}}Nights</td>
    <td>{{item.COPPERBELT}}Nights</td>
    <td>{{item.MONZE}}Nights</td>
    <td>{{item.KAPIRI}}Nights</td>
    <td>{{item.LIVINGSTONE}}Nights</td>
    <td>{{item.CHOMA}}Nights</td>
    <td>{{item.MWANDI}}Nights</td>
    <td>{{item.LUNTE}}Nights</td>
    <td>{{item.MWENSE}}Nights</td>
    <td>{{item.KASENENGWA}}Nights</td>
    <td>{{item.CHISAMBA}}Nights</td>
    <td>{{item.CHIBOMBO}}Nights</td>
   
    
</tr>
{%empty%}
<h4>no Schedule data in list</h4>
    {%endfor%}
</tbody>
</table>
</div>

     

{%endblock content%}

{% block script %}
<script>
    $("#ScheduleTable").dataTable({
        "scrollY":300,
        "scrollX":true,
        "paging":false,
    })
</script>
<script>
    $("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
     });
     $("#delete_multiple_btn").click(function(){
        if (confirm('are you sure you whant to delete these items?'))
        var id=[];
        var csrf=$('input[name=csrfmiddlewaretoken]').val();
        $(':checkbox:checked').each(function(i){
            id[i]=$(this).val()
        })
        if (id.length==0){
            alert("No items checked!")
        }else{
            console.log(id)
            $.ajax({
                url:'',
                method:"POST",
                data:{
                    id,
                    csrfmiddlewaretoken:csrf

                },
                success:function(response){
                    for(var i =0; i<= id.length; i++){
                        $('tr#'+id[i]+'').css('background-color','#ccc');
                        $('tr#'+id[i]+'').fadeOut('slow');
                    }
                }
            })
        }
    });
</script>
{% endblock script %}

