{% extends 'base.html' %}

{% block title %}
Schedule
{% endblock title %}

{% block content %}

<h5>LIST OF REGISTERED MARKERS FOR 2022 GCE MARKING</h5>
{#<a href="#" class="btn btn-success float-right">Export Excel</a>#}

{% comment %}
  <span><button class="btn btn-success float-right" id="exportToExcel">Export to XLS</button></span>
<span><button class="btn btn-warning float-right" onclick="javascript:demoFromHTML()">Export to pdf</button></span>  
{% endcomment %}
<span><a href="{%url 'upload_stations'%}" class="btn btn-primary btn-sm">Upload Stations</a></span>
<span><a href="{%url 'schedule_table'%}" class="btn btn-info btn-sm">Schedule Table</a></span>

<div class="card card-body">
<div class="table-responsive" id="tableE">
<table class="table table-sm" id="table2excel" >
    <thead>
        <th>ID</th>
        <th>Number</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>NRC</th>
        <th>CELLPHONE</th>
        <th>RESIDENTIAL_ADDRESS</th>
        <th>FROM_PROVINCE</th>
        <th>FROM_Station/District</th>
        <th>TO_STATION</th>
        <th>TRANSPORT</th>
        <th>DAILY ALLOWANCE</td>
        <th>DAILY RATE</th>
        <th>No.DAYS</th>
        <th>SUBJECT</th>
        <th>POSITION</th>
        <th>BANK</th>
        <th>BRANCH</th>
        <th>SORT CODE</th>
        <th>ACCOUNT_NUMBER</th>
        <th>T-PIN</th>

    </thead>
    <tbody>
            
            {% for item in payments %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.examiner.ExaminerCode}}</td>
                <td>{{item.examiner.first_name}}</td>
                <td>{{item.examiner.last_name}}</td>
                <td>{{item.examiner.NRC}}</td>
                <td>{{item.examiner.cell_Number}}</td>
                <td>{{item.examiner.Address}}</td>
                <td>{{item.examiner.province}}</td>
                <td>{{item.examiner.district}}</td>
                <td>{{item.examiner.to_province}}</td>
                <td>

                    {{item.transport|stringformat:".2f"}}
                </td>
                <td>{{item.daily_allowance|stringformat:".2f"}}</td>
                <td>{{ratePerDay}}</td>
                <td> {% widthratio item.daily_allowance ratePerDay 1 %}</td>
                <td>{{item.examiner.subject.subjectName}} ({{item.examiner.paper}})</td>
                <td>{{item.examiner.position}}</td>
                <td>{{item.examiner.bank}}</td>
                <td>{{item.examiner.branch}}</td>
                <td><input type="hidden" value="'">{{item.examiner.branch.sortcode|add:"0"|stringformat:"06d"}}</td>
                <td>{{item.examiner.AccountDetails}}</td>
                <td>{{item.examiner.TPIN}}</td>
            </tr>
            {% endfor %}


    </tbody>
</table>
</div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function(){
$("#table2excel").dataTable({
    "scrollY": 250,
    "scrollX":true,
    "paging": false,
    dom:"Bfrtip",
    buttons:[
        'excel','pdf',
        ],
});
    });
</script>
<script>
    $("#exportToExcel").click(function(){
        $("#table2excel").table2excel({
          // exclude CSS class
          exclude: ".noExl",
          name: "Worksheet Name",
          filename: "ExaminerSchedule" + new Date().toISOString().replace(/[\-\:\.]/g, ""), //do not include extension
          fileext: ".xls" // file extension
        }); 
      });
    
</script>
<script>
    function demoFromHTML() {
        var pdf = new jsPDF('l', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = $('#tableE')[0];

        // we support special element handlers. Register them with jQuery-style 
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors 
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function(element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
       //     top: 80,
        //    bottom: 60,
            left: 40,
        //    width: 100
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, {// y coord
                    'width': margins.width, // max width of content on PDF
                    'elementHandlers': specialElementHandlers
                },
        function(dispose) {
            // dispose: object with X, Y of the last line add to the PDF 
            //          this allow the insertion of new lines after html
            pdf.save('Test.pdf');
        }
        , margins);
    }
</script>
{% endblock script %}

