{% load static%}

<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="{% url 'staff-home'%}" class="brand-link">
      <img src="{% static '/img/ECZ-Logo2.jpg'%}" alt="AdminLTE Logo" class="brand-image img-circle " style="opacity: .8">
      <span class="brand-text font-weight-heavy"><strong>ECZ</strong></span></br>
      <span class="brand-text font-weight-light float-bottom"><p>Examiner Register</p></span>
    </a>
   
    <!-- Sidebar -->
    <div class="sidebar ">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-1 pb-2 mb-1 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/user.png'%}" class="img-circle " alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ request.user}}</a>
        </div>
      </div>

  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
{% comment %}
   <li class="nav-item">
            <a href="{%url 'staff-examiner-list'%}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Examiners
              
              </p>
            </a>
          </li>
{% endcomment %}
         
        {% if request.user.user_type == 2 %}
        <li class="nav-item has-submenu">
          <a href="#" class="nav-link">
            <i class='nav-icon far fa-address-book' style='font-size:24px'></i>
            <p>
              Pay Schedule
            
            </p>
          </a>
          <ul class="submenu collapse">
            <li><a class="nav-link" href="{%url 'schedule_table'%}"><p>Pay Schedule Table</p></a></li>
            <li><a class="nav-link" href="{%url 'schedule'%}"> <p>Examiners Pay Schedule</p></a> </li>
            <li><a class="nav-link" href="{%url 'upload_stations'%}"> <p>Upload Station</p></a> </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{%url 'bank-list'%}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
            Banks  
            </p>
          </a>
        </li>
          {% endif %}
          

{% if request.user.user_type == 4 %}

<li class="nav-item has-submenu">
  <a href="#" class="nav-link"> 
    <i class="nav-icon fas fa-th"></i>
    <p>
    Examiner Attendance 
    </p>
  </a>
  <ul class="submenu collapse">
    <li><a class="nav-link" href="{%url 'take-attendance'%}"><p>Take addendance</p></a></li>
    <li><a class="nav-link" href="{% url 'attendance'%}"><p>update my list</p></a></li>  
  </ul>
</li>

{% endif %}
         
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>