{% extends 'base.html'%}

{%block content%}
<div class="container">
    <table class="table table-sm">
        <caption>List of EADs</caption>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Lask Name</th>
            <th>User Name</th>
        </tr>
       {%for EAD in EADs%}
        <tr>
            <td>{{EAD.id}}</td>
            <td>{{EAD.firstName}}</td>
            <td>{{EAD.LastName}}</td>
            <td>{{EAD.UserName}}</td>
       
            <td><a href="{%url 'ead-details' EAD.id%}">Details</a></td>
            <td><a href="{%url 'ead-delete' EAD.id%}">Delete</a></td>
            <td><a href="{%url 'update-ead' EAD.id%}">Update</a></td>
           

        </tr>
        {%empty%}
        <h3>No Data to display</h3>
        {%endfor%}
    </table>
    <a href="{%url 'ead-create'%}">add</a>
    </div>

{%endblock%}