{% extends 'base.html' %}

{% block title %}Attendance{% endblock title %}
<p>attendance</p>
{% block content %}
<p>ATTENDANCE REGISTER</p>
{% if myStation %}
{% else %}
<h4>NO STATION ASSIGNED</h4>
{% endif %}

<div class="card card-body">
<div class="container">
   <span> <a  href="{% url 'attendance'%}" class="btn btn-primary float-right btn-sm">Update My List</a></span>
</div>
<div class="container">
    {% comment %}
        
   
    <form method="POST" >
        {% csrf_token %}
    <label for="subject">Select Subject</label>
    <select name="subject" id="id_subject">
        <option value="" selected>-------</option>
        {% for item in subjects %}
        <option value="{{item.subjectCode}}">{{item.subjectName}}</option>
        {% endfor %}
        
    </select>

    <label for="paper">Select paper</label>
    <select name="paper" id="id_paper">
        <option value="" selected>-------</option>
    </select>
    <input type="submit" class="btn btn-primary btn-sm" value="submit">
</form>

 {% endcomment %}
</div>
 <p>EXAMINERS AT {{myStation}} STATION</p>
<table class="table table-responsive" id="attendanceTable">
<thead>
    <tr>
       
        <th>S.NO</th>
        <th>EXAMINER ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>SUBJECT</th>
        <th>PAPER</th>
        <th>ATTENDANCE</th>
        <th></th>
        <th></th>
    </tr>

</thead>
<tbody>
    {% for item in attendance %}
    <tr id ="{{item.id}}">
        <td>{{forloop.counter}}</td>
        <td>{{item.examiner.ExaminerCode}}</td>
        <td>{{item.examiner.first_name}}</td>
        <td>{{item.examiner.last_name}}</td>
        <td>{{item.examiner.subject.subjectName}}</td>
        <td>{{item.examiner.paper.paper_name}}</td>
        <td>
       {% if item.status == 1 %}
        <a href="{%url 'present-link' item.id %}" class="btn btn-info btn-sm">Present</a>
        <a href="{%url 'absent-link' item.id %}" class="btn btn-warning btn-sm">Absent</a>
       {% endif %}
       {% if item.status == 2 %}
       <button class="btn btn-info btn-sm" disabled="disabled">Present</button>
       {% endif %}
       {% if item.status == 3 %}
       <button class="btn btn-warning btn-sm" disabled="disabled">Absent</button>
       {% endif %}
       
        
    </td>

        {#<td></td>#}
        <td><a href="{%url 'reset-link' item.id %}" class="reset-link"><i class="fa fa-refresh" aria-hidden="true"></i></a></td>
    
    <td><a href="{%url 'update-examiner-SAD' item.examiner.id %}">Details Update </a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>

{% comment %}
    <input id="Present" type="button" class="btn-info" value="Present">
    <input id="Absent" type="button" class="btn-warning" value="Absent">
{% endcomment %}

{% endblock content %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#attendanceTable").dataTable({
            "scrollY":200,
            "paging":false,
            
        })

    });
</script>

<script>
    $("#id_subject").change(function(){
        sub_code=$(this).val()
       // console.log(sub_code)
       $.ajax({
        type: "POST",
        url: '{% url "get_papernumber_ajax" %}',
        data: {
            'subject_id': sub_code,       // add the country id to the POST parameters
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   // `data` is from `get_topics_ajax` view function
            let html_data = '<option value="">Choose a paper number</option>';
            data.forEach(function (data) {
                html_data += `<option value="${data.paper_number}">${data.paper_name}</option>`
            });
            $("#id_paper").html(html_data); // replace the contents of the topic input with the data that came from the server
        }
       });
    })
</script>

{% endblock script %}